train:
  name: Matern/100
  type: GP
  batch_size: 256
  shuffle: True
  drop_last: True
  gp:
    kernel: !include configs/gp/matern/kernel.yaml
    data_size: 409600
    max_num_points: 50
    x_range: [-2, 2]
    t_noise: null
valid:  !include configs/gp/matern/datasets_test.yaml
test:   !include configs/gp/matern/datasets_test.yaml
shapes: !include configs/gp/gp_shapes.yaml
